@use "../../styles/components" as *;

.hero-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 1.5rem;

  &__wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__header {
    text-align: center;
    text-transform: uppercase;

    &--small {
      margin-bottom: 1.5rem;
    }

    &--big {
      @extend .hero-section__header--small;
    }
  }

  &__details {
    text-align: center;
  }

  &__btn-cta {
    @include button-cta(9rem);
  }
}
