@use "../../styles/colors" as *;
@use "../../styles/typography" as *;

.crew {
  &__title {
    font-family: $fs-barlow-condensed;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    text-align: center;
    color: $clr-neut-lgt;

    &--number {
      font-weight: 700;
      opacity: 0.25;
      margin-right: 1.5rem;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:last-of-type {
      overflow: hidden;
      margin-top: 2rem;
    }
  }

  &__name {
    font-family: $fs-bellefair;
    font-weight: normal;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    color: $clr-neut-lgt;
    margin-top: 4rem;
    margin-bottom: 1.5rem;

    &--role {
      display: block;
      font-size: 1.125rem;
      opacity: 0.5;
      margin-bottom: 0.5rem;
    }
  }

  &__biography {
    line-height: 1.8;
    text-align: center;
    min-height: 10.25rem;
    margin-bottom: 1.5rem;
  }

  &__carousel {
    display: flex;
    justify-content: center;
    width: 100%;

    &-nav {
      display: flex;
      justify-content: space-between;
      width: inherit;
      max-width: 5.5rem;
    }

    &-button {
      background-color: $clr-neut-lgt;
      border-radius: 100%;
      text-decoration: none;
      width: 0.625rem;
      height: 0.625rem;
      opacity: 0.174;
      transition: opacity 1s;

      &:is(:hover, :active, :focus-visible) {
        opacity: 0.5;
      }

      &--active {
        opacity: 1;

        &:is(:hover, :active, :focus-visible) {
          opacity: 1;
        }
      }
    }
  }

  &__image {
    height: 21.25rem;
    mask-image: linear-gradient(
      $clr-primary-drk 85%,
      rgba($clr-primary-drk, 0)
    );
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-size: cover;
  }
}
