@use "../../styles/colors" as *;
@use "../../styles/medias" as *;

.content {
  flex-grow: 1;
  background-color: $clr-primary-drk;
  padding-top: 7rem;
  padding-bottom: 1.5rem;

  @include tablet {
    padding-bottom: 2.5rem;
  }

  &--destination {
    background: url("../../assets/destination/background-destination-mobile.jpg")
      no-repeat fixed center bottom;
    background-size: cover;

    @include tablet {
      background-image: url("../../assets/destination/background-destination-tablet.jpg");
    }

    @include desktop {
      background-image: url("../../assets/destination/background-destination-desktop.jpg");
    }
  }
}
