@use "./colors" as *;

@mixin button-cta() {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $clr-neut-lgt;
  color: $clr-primary-drk;
  border: none;
  border-radius: 25rem;
  text-transform: uppercase;
  width: 9rem;
  height: 9rem;
  position: relative;
  // transition: width 500ms, height 500ms;
  // @media only screen and (min-width: 1440px) {
  //   width: 17rem;
  //   height: 17rem;
  // }

  &::after {
    content: "";
    position: absolute;
    background-color: rgba($clr-neut-lgt, 0.1);
    border-radius: inherit;
    opacity: 0;
    width: 20rem;
    height: 20rem;
    transition: opacity 500ms;
  }

  &:is(:hover, :active, :focus-visible) {
    &::after {
      opacity: 1;
    }
  }
}
