@use "./colors" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

button,
input,
a {
  font: inherit;
  cursor: pointer;
}

body {
  background-color: $clr-primary-drk;
  color: $clr-neut-lgt;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: inherit;
}
