@use "./colors" as *;
@use "./typography" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

button,
input,
a {
  font: inherit;
  cursor: pointer;
}

body {
  font-family: $fs-barlow;
  font-size: 0.9375rem;
  letter-spacing: 0px;
  line-height: normal;
  background-color: $clr-primary-drk;
  color: $clr-primary-lgt;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: inherit;
}
