// *** Font Imports ***
// Barlow Regular
@font-face {
  font-family: "Barlow";
  src: local("Barlow-Regular"), local("Barlow Regular"),
    url("./assets/fonts/Barlow/Barlow-Regular.ttf") format("truetype");
  font-display: swap;
}

// Barlow Condensed Regular
@font-face {
  font-family: "Barlow Condensed";
  src: local("BarlowCondensed-Regular"), local("Barlow Condensed Regular"),
    url("./assets/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf")
      format("truetype");
  font-display: swap;
}

// Bellefair Regular
@font-face {
  font-family: "Bellefair";
  src: local("Bellefair-Regular"), local("Bellefair Regular"),
    url("./assets/fonts/Bellefair/Bellefair-Regular.ttf") format("truetype");
  font-display: swap;
}

// *** Font Stacks ***
$fs-barlow: "Barlow", Arial, Helvetica, sans-serif;
$fs-barlow-condensed: "Barlow Condensed", Arial, Helvetica, sans-serif;
$fs-bellefair: "Bellefair", Georgia, "Times New Roman", Times, serif;

// *** Typography Presets ***
// Text Preset 1
@mixin text-preset1 {
  font-family: $fs-bellefair;
  font-size: 9rem;
  line-height: 1.719;
  letter-spacing: 0px;
}

// Text Preset 2
@mixin text-preset2 {
  font-family: $fs-bellefair;
  font-size: 6.25rem;
  line-height: 1.146;
  letter-spacing: 0px;
}

// Text Preset 3
@mixin text-preset3 {
  font-family: $fs-bellefair;
  font-size: 3.5rem;
  letter-spacing: 0px;
}

// Text Preset 4
@mixin text-preset4 {
  font-family: $fs-bellefair;
  font-size: 2rem;
  letter-spacing: 0px;
}

// Text Preset 5
@mixin text-preset5 {
  font-family: $fs-bellefair;
  font-size: 1.75rem;
  letter-spacing: 0.25rem;
}

// Text Preset 6
@mixin text-preset6 {
  font-family: $fs-bellefair;
  font-size: 1.75rem;
  letter-spacing: 0px;
}

// Text Preset 7
@mixin text-preset7 {
  font-family: $fs-barlow-condensed;
  font-size: 0.875rem;
  letter-spacing: 0.125rem;
}

// Text Preset 8
@mixin text-preset8 {
  font-family: $fs-barlow-condensed;
  font-size: 1rem;
  letter-spacing: 0.125rem;
}

// Text Preset 9
@mixin text-preset9 {
  font-family: $fs-barlow;
  font-size: 1.125rem;
  line-height: 1.8;
  letter-spacing: 0px;
}
